<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DatePicker Example</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/ >

	<script src="/static/js/jquery.datetimepicker.js"></script>
	<script src="/static/js/bootstrap-datetimepicker.ua.js" charset="UTF-8"></script>
	<script type="text/javascript" src="/static/js/wickedpicker.js"></script>

	<link rel='stylesheet' type='text/css'href='/static/css/timepicki.css'/>
	<script type='text/javascript'src='/static/js/timepicki.js'></script>





</head>
<body>


<form method="post" action="">
    {{ form.hidden_tag() }}
    {{ form.dt(class="dtpick") }}
    {{ form.time(class="timepicker") }}

    <button type="submit">Go</button>
</form>

<script>

	$(function() {
		
		$( ".dtpick" ).datepicker();
		$('.timepicker').timepicki({show_meridian:false,
		min_hour_value:11,
		max_hour_value:23,
		step_size_minutes:15,
		overflow_minutes:true,
		increase_direction:'up',
		disable_keyboard_mobile: true}); 


            
        


	});
	</script>
</body>
</html>